
# Logs

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# Frontend (React/Vite)

frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
*.local


# Java / Maven

**/target/

# Eclipse / STS
.metadata/
**/.classpath
**/.project
**/.factorypath
**/.settings/

# VS Code / IntelliJ
.vscode/*
!.vscode/extensions.json
.idea/

# OS Files
.DS_Store
Thumbs.db


*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?